.gig-preview {
    display: flex;
    flex-direction: column;
    box-shadow: lightgray 0 0 5px 0.1px;
}

.img-gig{
    width: 100%;
    max-width: 250px;
    max-height: 150px;
    object-fit: cover;
}