.gig-preview {
<<<<<<< HEAD
    background-color: lavender;
}

.gig-preview-wrapper{
}
=======
  padding: 15px;
  // background-color: lightblue;
}

.img-gig {
  height: 100px;
}
>>>>>>> 775f0b713afc866215f2ffc4732f1a19cdf25ece
