.header-categories {
    padding: 0;

    a {
        padding: 8px 0;
        font-size: 16px;
        color: $footer-logo-gray;
    }
}

.header-categories-wrapper {
    padding: 0 32px;
    position: absolute;
    left: 0;
    right: 0;
    border-top: 1px $footer-line-gray solid;
    border-bottom: 1px $footer-line-gray solid;
    height: 40px;
}