.header-profile {
  // width: 400px;
  height: 50px;
  margin: 30px auto;

  .header {
    justify-content: center !important;
    align-items: center !important;
    align-content: center;
  }

  a {
    transition: 0.2s;
    margin: auto;
    font-size: 1.75em;
    font-weight: 600;
    text-align: center;
    margin: 0 50px;

    &:hover {
      border-bottom: 3px solid $bright-green;
    }
  }
}