.header-profile {
  width: 400px;
  height: 50px;
  margin: auto;
  margin-top: 30px;
  a {
    font-size: 1em;
    text-align: center;
    padding-right: 20px;
    height: 20px;
    &:hover {
      border-bottom: 3px solid $bright-green;
    }
    a.active:not(:last-child) {
      color: $bright-green;
    }
  }
}
