.slick-container {
    img {
        max-height: 345px;
    }

    .slick-img {
        // position: relative;
        // margin: 0 !important;
    }

    .slick-img-caption {
        position: absolute;
        padding: 16px;
        z-index: 50;
        top: 0;
        font-size: 24px;

        h3 {
            color: white;
        }

        p {
            font-size: 14px;
            color: white;
        }
    }


    .slick-dots {
        display: none !important;
    }

}

.slick-prev:before {
    color: black !important;

    padding: 10px;
    font-size: 50px !important;
    // opacity: 1 !important;
}

.slick-next:before {

    color: $bright-gray  !important;
    font-size: 50px !important;
    opacity: 1 !important;
    border-radius: 50%;
}

.slick-arrow {
    color: black !important;
}

button.slick-next,
button.slick-prev {

}

// button.slick-prev {
//     // position: absolute !important;
//     z-index: 1 !important;
// }