.slick-arrow {
    // color: black !important;
    // background-color: black !important;

}

.slick-container {
    margin: auto;

    img {
        max-height: 345px;
        // padding: 0 18px;
    }

    .slick-img {
        position: relative;
    }

    .slick-img-caption {
        position: absolute;
        padding: 16px;
        z-index: 50;
        top: 0;
        font-size: 24px;

        h3 {
            color: white;
        }

        p {
            font-size: 14px;
            color: white;
        }
    }
}

.slick-prev:before {
    color: black !important;
}

.slick-next:before {
    color: black !important;
}