.slick-container {
    margin: auto;
    margin-bottom: 96px;

    img {
        max-height: 345px;
    }

    .slick-img {
        position: relative;
        margin: 0 !important;
    }

    .slick-img-caption {
        position: absolute;
        padding: 16px;
        z-index: 50;
        top: 0;
        font-size: 24px;

        h3 {
            color: white;
        }

        p {
            font-size: 14px;
            color: white;
        }
    }


    .slick-dots {
        display: none !important;
    }

}

.slick-prev:before {
    color: black !important;
}

.slick-next:before {
    color: black !important;
}

// .slick-arrow::before{
//     font-size: 200px !important;
// }
.slick-next:before,
.slick-prev:before {
    font-size: 48px !important;
    position: absolute !important;
}

button.slick-prev {
    position: absolute !important;
    z-index: 200 !important;
}