// Colors
$bright-green: #1dbf73;
$bright-gray: #74767e;
$white: #fff;
$dark-gray: #404145;



// LAYOUT
$layoutPadding: 20px;


// Breakpoints
$mobile-breakpoint: 460px;
$tablet-breakpoint: 720px;
$desktop-breakpoint: 960px;