.features {
margin-top: 20px;

  .profile-user {
    width: auto !important;
    margin: 0 !important;
    position: relative;
    .star-fill {
      margin: 0;
    }

    .page-container {

    }

    .user-container {
      margin-right: 0 !important;
    }

    .orders-container {
      margin: auto;
    }

    .total-orders {
      text-align: center;
      margin-left: 50px;
      width: 780px;
      background-color: hsl(0, 0%, 99%);
      box-shadow: 0 0 2px 1px lightgray;
      // border: 1px $footer-line-gray solid;
    }

    .price {
      color: $bright-green;
      font-weight: 600;
    }

    .orders {
      margin-left: 91px;
    }

    .num-orders {
      text-align: center;
      padding-bottom: 10px;
      // border-top: 1px $footer-line-gray solid;
    }

    table {
      padding: 0;
    }

    .title {
      justify-content: space-around;
      font-size: 10px;

      p {
        font-size: large;
        border-bottom: 1px $footer-line-gray solid;
        padding: 10px;
        transition: 0.2s;

        &:hover {
          border-bottom: 1px $bright-green solid;
        }
      }
    }

    .table-orders {}

    margin-top: 15px;
    width: 100%;

    table {
      width: 100%;
      margin-top: 15px;
      padding-bottom: 10px;

      tr {
        button {
          margin: 0;
        }
      }

      th {
        // border-bottom: 1px $footer-line-gray solid;

        width: 100px;
      }

      td {
        height: 50px;
        border-bottom: 1px $footer-line-gray solid;
      }
    }

    .seller-btns {
      align-items: center;
    }

    button {
      height: fit-content;
      padding: 5px 5px;
      text-align: center;
      border-radius: 4px;
      cursor: pointer;
      background-color: transparent;
      border: 1px solid #404145;
      transition: 0.2s;
      margin: 0 2px !important;

      &:hover {
        background-color: #1dbf73;
        color: #ffffff;

        // font-weight: 600;
        &:last-child {
          background-color: red;

        }
      }
    }
  }
}