.scroll-to {
    max-width: 100%;
    font-size: 16px;
    color: $header-input-gray;
    padding: 10px 0;
    border-bottom: 1px solid $header-input-gray;
    ;
    border-top: 1px solid $header-input-gray;
    ;


}

.details-container {
    margin: 0;

    .main-details {
        // padding-top: 20px;
        padding: 1rem 0rem;

        h1 {
            padding-bottom: 10px;
            font-size: 28px;

        }

        h2 {
            font-size: 20px;
        }

        .seller-avatar-top {

            padding-bottom: 2.5%;

            .seller-name-top {
                font-size: 16px;
            }

            h4 {
                font-size: 14px;
            }

            .gig-owner-image-top {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;
                image-rendering: auto;

            }

        }

        .gig-img {
            width: 600px;
            padding-bottom: 50px;
            image-rendering: auto;

        }

        section>p {

            padding-top: 25px;
            padding-right: 450px;
            padding-bottom: 60px;
        }

        .seller-avatar-about {

            padding-top: 22px;
            padding-bottom: 25px;

            .gig-owner-image-about {
                width: 80px;
                height: 80px;
                border-radius: 50%;
                object-fit: cover;
                image-resolution: 500;

            }

            .seller-level {
                font-size: 13px;
            }

            .seller-rate {
                padding-top: 20px;
                justify-self: center;

                svg.gig-review-star {
                    align-self: center;
                }

            }

        }

        .seller-desc {
            width: 600px;
            min-height: 120px;
            border: 1px solid $border-gray;
            padding: 1.25rem 1.5rem 1.5rem;

            .formal-desc {
                gap: 150px;
                border-bottom: 1px solid $border-gray;
                padding-bottom: 2rem;

                h4 {
                    gap: 10px;
                    color: #62646a;
                    font-weight: 600;

                    span.formal-title {
                        color: #95979d;
                        font-weight: lighter;

                    }
                }



            }
        }
    }

    .aside {

        padding-right: 80px;

        .package-content {
            position: sticky;
            top: 150px;
            padding: 1.5rem 2rem;
            width: 100%;
            border: 1px solid $border-gray;



            .package-title {
                align-self: center;
                gap: 85px;
                font-size: 16px;
                border-bottom: 1px solid $border-gray;
                padding-bottom: 1rem;

                h1 {

                    color: $bright-green;

                }
            }

            .package-title>span {
                font-weight: 800;
            }

            .delivery-revision {
                gap: 30px;
            }

            .delivery-revision>span {}

            .delivery-revision>* {

                font-size: 14px;
                align-self: center;
                gap: 5px
            }




            ul.gig-inclusive {
                list-style: none;
                text-decoration: none;
                gap: 10px;
                margin-left: 0%;
               object-fit: cover;
                align-items: stretch;

            }


            ul li {
              
                font-size: 16px;

            }


            a {
                padding: 10px 15px;
                background: $bright-green;
                color: $white;
                font-size: 16px;
            }

            a>span {
                color: $white;
                font-size: 16px;
            }

        }
    }


}