.scroll-to {
    // max-width: 100%;
    font-size: 16px;
    color: $header-input-gray;
padding: 10px 0;
    border-bottom: 1px solid $header-input-gray;;
    border-top: 1px solid $header-input-gray;;


}

.details-container {

    .main-details {
        // padding-top: 20px;
        padding: 1rem 0rem;

        h1 {
            padding-bottom: 10px;
            font-size: 28px;

        }

        h2 {
            font-size: 20px;
        }

        .seller-avatar-top {

            padding-bottom: 2.5%;

            .seller-name-top {
                font-size: 16px;
            }

            h4 {
                font-size: 14px;
            }

            .gig-owner-image-top {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;
            }

        }

        .gig-img {
            width: 600px;
            padding-bottom: 50px;
        }

        section>p {

            padding-top: 25px;
            padding-right: 200px;
            padding-bottom: 60px;
        }

        .seller-avatar-about {

            padding-top: 22px;
            padding-bottom: 25px;

            .gig-owner-image-about {
                width: 80px;
                height: 80px;
                border-radius: 50%;
                object-fit: cover;
            }

            .seller-level {
                font-size: 13px;
            }

            .seller-rate {
                padding-top: 20px;
                justify-self: center;

            svg.gig-review-star {
                align-self: center;
            }

            }

        }

        .seller-desc {
            width: 600px;
            min-height: 100px;
            border: 1px solid $bright-gray;
            padding: 1.25rem 1.5rem 1.5rem;

            .formal-desc {
                gap: 80px;
                border-bottom: 1px solid $bright-gray;
                padding-bottom: 2rem;

                h4 {
                    gap: 10px;
                }

                h4>span {
                    color: $bright-gray ;
                    font: weight 600px;
                }

            }
        }


    }

    .aside {

        padding-right: 80px;

        .package-content {
            position: sticky;
            top: 150px;
            // margin-bottom: 20px;
            padding: 1rem 2rem;
            // padding-left: 24px;
            // padding-right: 24px;
            width: 100%;
            border: 1px solid $header-input-gray;


            .package-title {
                gap: 50px;
                font-size: 16px;
                border-bottom: 1px solid $bright-gray;
                padding-bottom: 1rem;
                
                h1 {
                    
                    color: $bright-green;
                  
                }
            }

            .package-title>span {
               font-weight: 800;
            }

            .delivery-revision {
                gap: 40px
            }

            .delivery-revision>* {

                font-size: 14px;
                // gap:20px
            }



            ul.gig-inclusive {
                list-style: none;
                text-decoration: none;
                gap: 10px;
            }


            ul li {
                font-size: 14px;
                
            }


            a {
                padding: 10px 15px;
                background: $bright-green;
                color: $white;
                font-size: 16px;
            }

            a>span {
                color: $white;
                font-size: 16px;
            }

        }
    }


}