.features {
  margin-top: 51px;
  margin-left: 91px;

  .profile-user {
    .star-fill {
      margin: 0;
    }
    .order-container {
      margin: 0;
    }
    .total-orders {
      text-align: center;
      margin-left: 91px;
      width: 780px;
      // border: 1px $footer-line-gray solid;
    }
    .price {
      color: $bright-green;
      font-weight: 600;
    }

    .orders {
      margin-left: 91px;
    }
    .num-orders {
      text-align: center;
      padding-bottom: 10px;
      border-top: 1px $footer-line-gray solid;

      .title {
        font-size: 10px;
      }
    }

    .table-orders {
      margin-top: 15px;
      width: 100%;
      tr {
        width: 100px;
      }
      // height: 100%;
    }
    td {
      width: 100px;
      // height: 100px;
      border: 1px $footer-line-gray solid;
      text-align: center;
    }
    th {
      border: 1px $footer-line-gray solid;
      width: 120px;
    }
    // .status {
    //   color: $yellow;
    // }
    .delete-btn {
      background-color: rgb(242, 141, 141);
      // border: 0;
      cursor: pointer;
    }

    .country {
      justify-content: end;
    }
  }
}
// }
