.features {
  margin-top: 50px;

  .total-orders {
  }
  .table-orders {
    h1 {
    }
    table {
      width: 70vh;
      tr {
        width: 100px;
      }
      // height: 100%;
      //   border: 1px $footer-line-gray solid;
    }
    td {
      width: 50px;
      border: 1px $footer-line-gray solid;
      text-align: center;
    }
    th {
      border: 1px $footer-line-gray solid;
    }
    .status {
      color: $yellow;
    }
    .delete-btn {
      background-color: rgb(242, 141, 141);
      // border: 0;
      cursor: pointer;
    }
    .user-container {
      height: 500px;
    }
  }
  .star-fill {
    width: 100px;
    margin-left: 100px;
    height: 100px;
  }
  .location {
    height: 14px;
  }
  .user {
    height: 14px;
  }
  .country {
    justify-content: end;
  }
}
