// .reviews-container {
//     display: flex;
//     flex-wrap: wrap;


//     article {
//         padding: 15px;
//         border-radius: 8px;
//         margin: 15px;
//         display: flex;
//         flex-direction: column;
//         justify-content: flex-start;
//         align-items: flex-start;
//     }

// }


.home {
    .hero-wrapper {

        
        position: relative;

        .hero-background {
            position: absolute;

            img {
                width: 100%;
                position: static;
                top: 0;
                left: 0;
                // width: 1972px !important;
                
            }

            .seller-name {
                position: absolute;
                right: 40px;
                bottom: 20px;
                color: $white;
                text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.75);

                .reviews-container {}
            }

        }

        .hero-content {
            display: grid;
            grid-template-columns: 32px 1fr 32px;
            position: absolute;
            top: 80px;
            z-index: 2;

            >* {
                grid-column: 2;

                &.full {
                    grid-column: 1 /-1;
                }
            }

            & h1>* {

                color: $white;
            }

            &.italic-font {
                font-style: italic;

            }


            .home-search-box {


                &.search-icon {

                    align-items: center;
                    width: 10%;
                    height: 100%;
                    border-bottom-left-radius: 5px;
                    border-top-left-radius: 5px;
                    margin: 0%;
                }

                & i {
                    padding-top: 5px;
                    color: $bright-gray;
                }

                & button {
                    background-color: $bright-green ;
                    border: none;
                }

                input {
                    border: none;

                    font-size: 1em;
                    margin: 0%;
                }

                input:focus {
                    outline: none;
                }
            }

            .popular-categories {
                padding-top: 24px;
                margin
                span {
                    color: $white;
                    font-size: 14px;
                    font-weight: 600;
                    border: solid 0.5px $white;
                    border-radius: 2em;
                    padding-inline: 2em;

                    &:hover {
                        background-color: $white;
                        color: $bright-gray;
                        cursor: pointer;
                    }
                }
            }

        }

    }

    .social-proof-line {
        // z-index: 20;

        color: $bright-gray;
        font-weight: 800;
        padding-bottom: 10%;

    }

    .about-us {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        padding: 4em 0;
        padding-inline-start: 32px;
        padding-inline-end: 32px;
        font-weight: 400;

        .content {

            // padding-right: 15%;
            display: flex;
            flex-direction: column;
            gap: 24px;
        }

        span {
            margin-right: 1em;
        }

        h2 {
            line-height: 120%;
            font-size: 2em;

            font-weight: 700;
        }

        h6 {
            span {
                margin-right: 10px;
                color: rgb(122, 125, 133);
            }

            display: flex;
            align-items: center;
            font-size: 1.125em;
            line-height: 140%;

        }

        p {
            font-size: 1.125em;
            font-weight: 400;
        }
    }

}