.gig-profile-container {
  .profile-user {
    margin-top: 51px;
    margin-left: 91px;
  }
}
.orders-container {
  margin-bottom: 40px;

  .my-orders {
    width: 736px;
    height: 66px;
    border: 1px $footer-line-gray solid;
    margin-bottom: 40px;

    h1 {
      width: fit-content;
      display: flex;
      align-items: center;
      height: 97%;
      border-bottom: 3px solid $bright-green;
      margin-left: 26px;
      font-size: 14px;
      line-height: 18.5px;
    }
  }
}
.new-gig {
  width: 734px;
  height: 428px;
  border: 1px $footer-line-gray solid;
  text-align: center;
  padding-top: 22px;
  margin-top: -20px;
  padding-bottom: 45px;

  .active-gigs {
    height: 66px;
  }
  .img-create {
    margin-left: 244px;
    margin-right: 204px;
    margin-bottom: 110px;

    .svg {
      width: 168px;
      height: 197px;
      margin-top: 50px;
      margin-left: 60px;
      margin-right: 60px;
      margin-bottom: 24px;
    }

    .create-btn {
      background-color: #1dbf73;
      color: white;
      width: 150px;
      height: 40px;
      font-size: 1em;
      line-height: 24px;
      border: 0;
      padding: 13px 16px 13px 16px;
    }
  }
}
